// src/components/styles/_variables.scss

$primary-color: #141f39;
$secondary-color: #005bb5;


$font-dm-sans: DM_SANS;
$font-dm-sans-italic: 'DM_SANS_ITALIC';

$font-inter: INTER;
$font-inter-italic: 'INTER_ITALIC';

$font-jakarta: 'PLUS_JAKARTA_SANS';
$font-jakarta-italic: 'PLUS_JAKARTA_SANS_ITALIC';

$font-chivo: "CHIVO";
$font-chivo-italic: 'CHIVO_ITALIC'


